<!DOCTYPE html>
<html>
  <head>
 
      <title> My Web Page! </title>
  </head>
  <body>

        html,body{height: 100%; vertical-align: middle; text-align: auto;}

        }

        table,th,td{border:1px solid red; vertical-align: middle; text-align: center;}

        form{vertical-align: middle; text-align: auto; }
		
		h1{color:	#CCCC00 ; text-align: auto;}
		
		h4{color: #CCCA00; text-decoration: underline; text-align: auto;}


  </body>
 </html>
